place_footprints.log
place_footprints_error.log
place_footprints.png
place_footprints_dark.png
place_footprints_light.png
/.idea
/__pycache__
initial_dialog_GUI.py
place_by_reference_GUI.py
place_by_sheet_GUI.py
error_dialog_GUI.py
/place_footprints_test_projects/place_footprints-backups
/place_footprints_test_projects/fp-info-cache
/place_footprints_test_projects/place_footprints_test_sheet_matrix.kicad_pro
/place_footprints_test_projects/place_footprints_temp_ref_circular.kicad_pro
/place_footprints_test_projects/place_footprints_temp_ref_linear.kicad_pro
/place_footprints_test_projects/place_footprints_temp_ref_matrix.kicad_pro
/place_footprints_test_projects/place_footprints_temp_sheet_circular.kicad_pro
/place_footprints_test_projects/place_footprints_temp_sheet_linear.kicad_pro
/place_footprints_test_projects/place_footprints_temp_sheet_matrix.kicad_pro
/place_footprints_test_projects/place_footprints_test_ref_circular.kicad_pro
/place_footprints_test_projects/place_footprints_test_ref_linear.kicad_pro
/place_footprints_test_projects/place_footprints_test_ref_matrix.kicad_pro
/place_footprints_test_projects/place_footprints_test_sheet_circular.kicad_pro
/place_footprints_test_projects/place_footprints_test_sheet_linear.kicad_pro
/place_footprints_test_projects/place_footprints.log
/place_footprints_test_projects/place_footprints_temp_ref_circular.kicad_prl
/place_footprints_test_projects/place_footprints_temp_ref_linear.kicad_prl
/place_footprints_test_projects/place_footprints_temp_ref_matrix.kicad_prl
/place_footprints_test_projects/place_footprints_temp_sheet_circular.kicad_prl
/place_footprints_test_projects/place_footprints_temp_sheet_linear.kicad_prl
/place_footprints_test_projects/place_footprints_temp_sheet_matrix.kicad_prl
/place_footprints_test_projects/place_footprints_test_ref_circular.kicad_prl
/place_footprints_test_projects/place_footprints_test_ref_matrix.kicad_prl
/place_footprints_test_projects/place_footprints_test_sheet_circular.kicad_prl
/place_footprints_test_projects/place_footprints_test_sheet_linear.kicad_prl
/place_footprints_test_projects/place_footprints_test_sheet_matrix.kicad_prl
metadata.json
metadata_package.json
place_footprints_test_projects/fp-lib-table
place_footprints_test_projects/Library.pretty/
place_footprints_test_projects/test_lib.pretty/
*.zip
place_footprints_test_projects/.directory
.directory
/place_footprints_test_projects/place_footprints_temp_ref_circular.kicad_pcb
/place_footprints_test_projects/place_footprints_temp_ref_linear.kicad_pcb
/place_footprints_test_projects/place_footprints_temp_ref_matrix.kicad_pcb
/place_footprints_test_projects/place_footprints_temp_sheet_circular.kicad_pcb
/place_footprints_test_projects/place_footprints_temp_sheet_linear.kicad_pcb
/place_footprints_test_projects/place_footprints_temp_sheet_matrix.kicad_pcb
/place_footprints_test_projects/*.log
VecMatrix/Letter.kicad_sch
VecMatrix/Row.kicad_sch
VecMatrix/VecMatrix.kicad_pcb
VecMatrix/VecMatrix.kicad_prl
VecMatrix/VecMatrix.kicad_pro
VecMatrix/VecMatrix.kicad_sch
VecMatrix/fp-info-cache
VecSchalt/TransSch.kicad_sch
VecSchalt/VecSchalt.kicad_pcb
VecSchalt/VecSchalt.kicad_prl
VecSchalt/VecSchalt.kicad_pro
VecSchalt/VecSchalt.kicad_sch
VecSchalt/Zeile.kicad_sch
VecSchalt/fp-info-cache
VecSchalt/replicate_layout.log
/place_footprints_test_projects/place_footprints_temp_ref_matrix_flipped.kicad_pro
/place_footprints_test_projects/place_footprints_temp_ref_linear_flipped.kicad_pro
/place_footprints_test_projects/place_footprints_temp_ref_circular_flipped.kicad_prl
/place_footprints_test_projects/place_footprints_temp_ref_circular_flipped.kicad_pro
/place_footprints_test_projects/place_footprints_temp_ref_linear_flipped.kicad_prl
/place_footprints_test_projects/place_footprints_temp_ref_matrix_flipped.kicad_prl
/place_footprints_test_projects/*.kicad_prl
/place_footprints_test_projects/place_footprints_temp_ref_matrix_flipped.kicad_pcb
/place_footprints_test_projects/place_footprints_temp_ref_linear_flipped.kicad_pcb
/place_footprints_test_projects/place_footprints_temp_ref_circular_flipped.kicad_pcb
test_config.ini
